body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
    padding-bottom: 0;
}
.contact-area{
    position: absolute;
    top: 3rem;

    
}
button{
    width: 10rem;
    border-radius: 3px;
    border: solid 1px black;
}
input{
    width: 12rem;
    height: 3rem;
    border-radius: 3px;
    border: solid 1.5px black;
}
textarea{
    border: solid 1.5px black;
}
.submitBtn{
    width: 25rem;
}


    /* footer */

.Footr-icons1 {
    
    /* position: absolute; */
    
   /* background-color: rgba(199, 241, 249, 0.687); */
    
}
@media screen and (max-width:991px) {

    .Footr-icons {

    top: 180rem;
    
}
}
@media screen and (max-width:768px) {

    .Footr-icons {

    top: 170rem;
    
}
}
@media screen and (max-width:544px) {

    .Footr-icons {

    top: 180rem;
    
}
}
@media screen and (max-width:342px) {

    .Footr-icons {

    top: 200rem;
    
}
}