body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.projece-are{
    position: relative;
    top: 10rem;
    
}
.projec-card{
    height: 20rem;
    
}
.projec-card1{
    background-image: url(images/linkdin.jpg);
    background-size: contain;
    border: solid 1px black;
}
.projec-card2{
    background-image: url(images/w3Nave.jpg);
    background-size: contain;
    border: solid 1px black;
}
/* .project-name{
    visibility: hidden;;
} */
.project-name{
    visibility: visible;
    font-size: 1rem;
    position: relative;
    top: -3rem;
    
}
img{
    width: 50%;
}